<!-- Group Admins -->
<div class="card">
  <div class="card-title mb-2 flex justify-between">People
    @if (auth.isSuperAdmin() || groupService.isGroupAdmin()) {
      <div class="btn btn-ghost rounded-full">
        <lucide-icon name="user-round-plus"></lucide-icon>
      </div>
    }
  </div>
  @for (channelMember of (groupService.channel$ | async)?.members; track channelMember._id) {
    <span class="flex items-center justify-between mb-2">
      <div class="flex items-center gap-x-2">
        @if (channelMember.avatar) {
          <div class="avatar online h-12 w-12">
            <img
              class="rounded-full cursor-pointer"
              alt="Tailwind CSS Navbar component"
              src="{{channelMember.avatar}}"/>
          </div>
        } @else {
          <div class="avatar online placeholder h-12 w-12">
            <div class="bg-neutral text-neutral-content w-12 rounded-full">
              <span>TT</span>
            </div>
          </div>
        }
        <h5>{{ channelMember.username }}</h5>
      </div>
      <div class="btn btn-ghost rounded-full">
        <lucide-icon name="user-round-plus"></lucide-icon>
      </div>
    </span>
  }
</div>

<!-- Channel Members -->
<div class="card mt-4">

</div>

