<!-- Group Admins -->
<div class="card">
  <div class="card-title text-2xl">{{groupService.currentGroup.value?.name}}</div>
  <div class="card-title mb-2 flex justify-between">Admins
    <div class="btn btn-ghost rounded-full">
      <lucide-icon name="user-cog"></lucide-icon>
    </div>
  </div>
  @for (admin of (groupService.group$ | async)?.admins; track admin._id) {
    <span class="flex items-center gap-x-2 mb-2">
      @if (admin.avatar) {
        <div class="avatar online h-12 w-12">
          <img
            class="rounded-full cursor-pointer"
            alt="Tailwind CSS Navbar component"
            src="{{admin.avatar}}" />
        </div>
      }
      @else {
        <div class="avatar online placeholder h-12 w-12">
          <div class="bg-neutral text-neutral-content w-12 rounded-full uppercase">
            <span>{{ admin.username.slice(0, 2) }}</span>
          </div>
        </div>
      }
      <h5>{{ admin.username }}</h5>
    </span>
  }
  <div class="card-title flex justify-between">Members
    <div class="btn btn-ghost rounded-full">
      <lucide-icon name="user-cog"></lucide-icon>
    </div>
  </div>
  @for (groupMember of (groupService.group$ | async)?.members; track groupMember._id) {
    <span class="flex items-center gap-x-2 mb-2">
      @if (groupMember.avatar) {
        <div class="avatar online h-12 w-12">
          <img
            class="rounded-full cursor-pointer"
            alt="Tailwind CSS Navbar component"
            src="{{groupMember.avatar}}" />
        </div>
      }
      @else {
        <div class="avatar placeholder h-12 w-12">
          <div class="bg-neutral text-neutral-content w-12 rounded-full">
            <span>TT</span>
          </div>
        </div>
      }
      <h5>{{ groupMember.username }}</h5>
    </span>
  }
  @if ((auth.isSuperAdmin() || groupService.isGroupAdmin())) {
    @if (groupService.currentGroup.value && groupService.currentGroup.value!.pendingMembers) {
      <!-- Pending Group Members -->
      <div class="card mt-2">
        <div class="card-title flex justify-between mb-3">Pending Members</div>
        @for (groupMember of (groupService.group$ | async)?.pendingMembers; track groupMember._id) {
          <span class="flex items-center justify-between">
      <span class="flex items-center gap-x-2 mb-2">
        @if (groupMember.avatar) {
          <div class="avatar online h-12 w-12">
            <img
              class="rounded-full cursor-pointer"
              alt="Tailwind CSS Navbar component"
              src="{{groupMember.avatar}}" />
          </div>
        }
        @else {
          <div class="avatar placeholder h-12 w-12">
            <div class="bg-neutral text-neutral-content w-12 rounded-full">
              <span>TT</span>
            </div>
          </div>
        }
        <h5>{{ groupMember.username }}</h5>
      </span>
      <span class="flex gap-x-2">
        <button class="btn btn-sm btn-neutral text-neutral-100"><lucide-angular name="user-round-x" size="22"></lucide-angular></button>
        <button class="btn btn-sm btn-success text-neutral-100"><lucide-angular name="user-round-check" size="22"></lucide-angular></button>
      </span>
    </span>
        }
      </div>
    }
  }
</div>

<!-- Channel Members -->
<div class="card mt-4">

</div>

