<!-- Group Admins -->
<div class="card">
  <div class="card-title mb-2 flex justify-between">People
    @if (groupService.isGroupAdmin()) {
      <div class="btn btn-ghost rounded-full" (click)="addUserModal.open()">
        <lucide-icon name="user-round-plus"></lucide-icon>
      </div>
    }
  </div>
  @for (user of (groupService.channel$ | async)?.members; track user._id) {
    <span class="flex items-center justify-between mb-2">
      <div class="flex items-center gap-x-2">
        @if (user.avatar) {
          <div class="avatar online h-12 w-12">
            <img
              class="rounded-full cursor-pointer"
              alt="Tailwind CSS Navbar component"
              src="{{user.avatar}}"/>
          </div>
        } @else {
          <div class="avatar online placeholder h-12 w-12">
            <div class="bg-neutral text-neutral-content w-12 rounded-full">
              <span>TT</span>
            </div>
          </div>
        }
        <h5>{{ user.username }}</h5>
      </div>
      @if (groupService.isGroupAdmin()) {
        <div class="flex gap-x-1.5">
          <div class="btn btn-sm btn-neutral text-neutral-100 tooltip flex items-center justify-center px-2.5" data-tip="Kick user" (click)="kick(user, false)">
            <lucide-icon name="user-round-minus" size="20"></lucide-icon>
          </div>
          <div class="btn btn-sm btn-neutral text-neutral-100 tooltip flex items-center justify-center px-2.5" data-tip="Ban user" (click)="kick(user, true)">
            <lucide-icon name="ban" size="20"></lucide-icon>
          </div>
        </div>
      }
    </span>
  }
</div>

<app-add-user-modal [users]="getUsers()" [channel]="groupService.currentChannel.value ?? undefined" #addUserModal></app-add-user-modal>
