<div class="navbar bg-base-100 fixed z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">
      <i-lucide name="audio-lines"></i-lucide>
      Clamor
    </a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div class="btn btn-ghost btn-square">
        <div class="indicator">
          <i-lucide name="layout-dashboard"></i-lucide>
        </div>
      </div>
      <div class="btn btn-ghost btn-square">
        <div class="indicator">
          <i-lucide name="users-round"></i-lucide>
        </div>
      </div>
      <div class="btn btn-ghost btn-square">
        <div class="indicator">
          <i-lucide name="message-circle"></i-lucide>
          <span class="badge badge-sm badge-primary indicator-item">8</span>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end ml-2">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
