@if (((groups.group$ | async)?.channels?.length ?? false) && (groups.channel$ | async)) {
  <div class="h-full flex flex-col">
    <!-- Chat Panel -->
    <div class="flex-1 flex flex-col justify-end p-4 overflow-x-auto overflow-y-scroll">
        @for (msg of messages; track msg) {
          <div class="chat chat-start" [ngClass]="{
            'chat-start': msg.name !== 'Sally',
            'chat-end': msg.name == 'Sally',
          }">
              <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                  <img
                    alt="Tailwind CSS chat bubble component"
                    src="{{msg.img}}" />
                </div>
              </div>
              <div class="chat-header">
                {{ msg.name }}
                <time class="text-xs opacity-50">{{ msg.time }}</time>
              </div>
              <div class="chat-bubble">{{ msg.msg }}</div>
            </div>
        }
    </div>
    <!-- Message input panel -->
    <div class="h-20 p-4">
      <label class="input input-bordered flex items-center gap-2 pr-0">
        <input type="text" class="grow" placeholder="Message the channel"
               [(ngModel)]="message"
               (keypress)="handleKeyPress($event)" />
        <button class="btn btn-ghost" (click)="send()">
          <lucide-angular name="send-horizontal" size="20"></lucide-angular>
        </button>
      </label>
    </div>
  </div>
} @else {
  <!-- No Channels View -->
  <div class="h-full flex flex-col items-center">
    @if (groups.isGroupAdmin()) {
      <div class="flex flex-col gap-y-4 mx-auto my-auto max-w-xs">
        <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="rss" size="30"></lucide-angular>Create a channel</h1>
        <div class="text-neutral-content text-lg">Click below to start your first channel.</div>
        <button class="btn btn-primary" (click)="newChannelModal.open()">Create Channel</button>
      </div>
    }
    @else {
      @if (groups.currentGroup.value!.channels.length) {
        <div class="flex flex-col mx-auto my-auto max-w-md gap-y-4">
          <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="rss" size="30"></lucide-angular>Uh oh!</h1>
          <div class="text-neutral-content text-lg">You do not have access to any channels in this group.</div>
        </div>
      }
      @else {
        <div class="flex flex-col mx-auto my-auto max-w-md gap-y-4">
          <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="rss" size="30"></lucide-angular>Hmm..</h1>
          <div class="text-neutral-content text-lg">This group does not yet have any channels. Ask an admin to create one.</div>
        </div>
      }
    }
  </div>
}

<app-new-channel-modal #newChannelModal></app-new-channel-modal>
