<nav class="bg-base-300 w-72 h-full z-10">
  <div class="flex-col bg-base-100 w-full h-full overflow-hidden rounded-l-3xl">
    <div class="px-4">
      <!-- Channel List -->
      <span class="flex justify-between items-end mt-2">
          <h3 class="mt-4 card-title">Channels</h3>
          <div class="btn-sm btn-ghost rounded-lg p-0.5" (click)="newChannelModal.showModal()">
            <lucide-icon name="plus"></lucide-icon>
          </div>
        </span>
      <div class="mt-4 flex flex-col gap-y-1">
        @for (channel of (groupService.group$ | async)?.channels; track channel._id) {
          <div class="btn flex justify-between w-full"
               (click)="groupService.setChannel(channel._id)"
               [ngClass]="{
                    'btn-neutral': (groupService.channel$ | async)?._id === channel._id,
                    'btn-ghost': (groupService.channel$ | async)?._id !== channel._id,
                }">
            <div>
              <span>#</span><span class="ml-3">{{ channel.name }}</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</nav>


<dialog #newChannelModal id="newChannelModal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Create Channel</h3>
    <form [formGroup]="newChannelForm" class="mt-4">
      <input
        class="input input-bordered w-full"
        type="text"
        placeholder="Channel Name"
        formControlName="name"
        [ngClass]="{
          'input-error': newChannelForm.get('name')?.invalid && newChannelForm.get('name')?.touched
        }"
      />
    </form>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-neutral">Cancel</button>
      </form>
      <button class="btn btn-primary" (click)="addChannel()">Create</button>
    </div>
  </div>
</dialog>
