<nav class="bg-base-300 w-72 h-full">
  <div class="flex-col bg-base-100 w-full h-full overflow-hidden rounded-l-3xl">
    <div class="px-4">
      <!-- Channel List -->
      <span class="flex justify-between items-end mt-2">
          <h3 class="mt-4 card-title">
            <lucide-icon class="text-primary" name="rss"></lucide-icon>Channels
          </h3>
          @if (groupService.isGroupAdmin()) {
            <div class="btn btn-sm btn-neutral rounded-lg p-0.5" (click)="newChannelModal.open()">
              <lucide-icon name="plus"></lucide-icon>
            </div>
          }
        </span>
      <div class="mt-4 flex flex-col gap-y-1">
        @for (channel of (groupService.group$ | async)?.channels; track channel._id) {
          <button class="btn flex justify-between items-center w-full disabled:text-gray-500" [disabled]="!groupService.canAccessChannel(channel)"
               (click)="groupService.setChannel(channel._id)"
               [ngClass]="{
                    'btn-neutral': (groupService.channel$ | async)?._id === channel._id,
                    'btn-ghost': (groupService.channel$ | async)?._id !== channel._id,
                }">
            <div class="flex items-center">
              @if (!groupService.canAccessChannel(channel)) {
                <lucide-icon name="lock" size="16"></lucide-icon>
              }
              @else {
                #
              }
              <span class="ml-3">{{ channel.name }}</span>
            </div>
          </button>
        }
      </div>
    </div>
  </div>
</nav>

<app-new-channel-modal #newChannelModal></app-new-channel-modal>
