<div class="drawer drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <router-outlet></router-outlet>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu bg-base-300 text-base-content min-h-full w-20 gap-y-2 justify-between">
      <!-- Top-aligned content -->
      <div>
        <div class="p-1">
          <a class="btn btn-primary text-white flex justify-center items-center p-2 rounded-2xl h-14">
            <i-lucide name="audio-waveform" size="30"></i-lucide>
          </a>
        </div>
        <div class="absolute w-full left-0 divider my-0"></div>
        <!-- Groups -->
        <div class="relative grid gap-y-2 mt-5">
          @for (group of groupService.getGroups(); track group) {
            <div class="avatar placeholder p-1" (click)="showGroup(group.id)">
              <div class="btn btn-ghost bg-base-100  text-neutral-content w-full h-full rounded-2xl"
                [ngClass]="{'ring-primary ring-2': ((groupService.group$ | async)?.id == group.id) }">
                <span class="text-xl">{{group.name}}</span>
              </div>
            </div>
          }
          <!-- Add Group Button -->
          <div class="avatar placeholder p-1">
            <div class="btn btn-ghost bg-base-100  text-neutral-content w-full h-full rounded-2xl">
              <span class="text-xl">+</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom aligned content -->
      <div class="avatar p-2">
        <img
          class="rounded-full cursor-pointer"
          alt="Tailwind CSS Navbar component"
          src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
      </div>
    </div>
  </div>
</div>
