<div class="drawer drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <router-outlet></router-outlet>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu bg-neutral text-base-content min-h-full w-20 p-2 gap-y-2 justify-between">
      <!-- Top-aligned content -->
      <div>
        <a class="text-primary flex justify-center items-center p-1">
          <i-lucide name="audio-waveform" size="36"></i-lucide>
        </a>
        <div class="divider my-0"></div>
        <!-- Groups -->
        <div class="grid gap-y-4">
          @for (group of groupService.getGroups(); track group) {
            <div class="avatar placeholder">
              <div class="btn btn-ghost bg-base-100  text-neutral-content w-full h-full rounded-full">
                <span class="text-xl">G1</span>
              </div>
            </div>
          }
          <!-- Add Group Button -->
          <div class="avatar placeholder">
            <div class="btn btn-ghost bg-base-100  text-neutral-content w-full h-full rounded-full">
              <span class="text-xl">+</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom aligned content -->
      <div class="avatar">
        <img
          class="rounded-full cursor-pointer"
          alt="Tailwind CSS Navbar component"
          src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
      </div>
    </div>
  </div>
</div>
