<!-- Modal for creating a new group via the "add group button -->
<dialog #newGroupModal id="newGroupModal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Create Group</h3>
    <form [formGroup]="newGroupForm" class="mt-4">
      <input
        class="input input-bordered w-full"
        type="text"
        placeholder="Group Name"
        formControlName="name"
        [ngClass]="{
          'input-error': newGroupForm.get('name')?.invalid && newGroupForm.get('name')?.touched
        }"
      />
      <input
        class="input input-bordered w-full mt-4"
        type="text"
        placeholder="Group Acronym"
        formControlName="acronym"
        [ngClass]="{
          'input-error': newGroupForm.get('acronym')?.invalid && newGroupForm.get('acronym')?.touched
        }"
      />
    </form>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-neutral">Cancel</button>
      </form>
      <button class="btn btn-primary" (click)="addGroup()">Create</button>
    </div>
  </div>
</dialog>
