<div class="flex h-full">
  <nav class="bg-base-300 w-72 h-full z-10">
    <div class="flex-col bg-base-100 w-full h-full overflow-auto rounded-l-3xl">
      <div class="px-4">
        <!-- Channel List -->
        <span class="flex justify-between items-end">
          <h3 class="mt-4 card-title">Group Settings</h3>
        </span>
        <div class="mt-4 flex flex-col gap-y-1">
          @for (tab of tabs; track tab) {
            <button class="btn w-full flex justify-between"
                    (click)="setTab(tab)"
                    [ngClass]="{
                      'btn-neutral': tab === currentTab,
                      'btn-ghost': tab !== currentTab
                    }">
              {{ tab }}
            </button>
          }
        </div>
      </div>
    </div>
  </nav>

  <section class="flex flex-1 h-full bg-base-200 p-4">
    <div class="flex-1 flex flex-col mx-auto max-w-5xl">
      <!-- Close Button -->
      <div class="flex justify-end">
        <button class="btn btn-ghost rounded-full tooltip tooltip-left" (click)="closed.emit()" data-tip="Close Settings">
          <lucide-angular name="circle-x"></lucide-angular>
        </button>
      </div>

      <!-- Content -->
      @if (currentTab === tabs[0]) {
        <!-- General Settings Form -->
        <form>
          <div class="space-y-12">
            <div class="border-b border-white/10 pb-12">
              <h2 class="card-title font-semibold leading-7">General Settings</h2>
              <p class="mt-1 text-sm text-gray-400">Configure your community</p>

              <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-2">
                  <label for="group-acronym" class="block text-sm font-medium text-white">Group Acronym</label>
                  <div class="mt-2">
                    <input type="text" id="group-acronym" autocomplete="family-name" class="input input-bordered w-full">
                  </div>
                </div>
                <div class="sm:col-span-4">
                  <label for="group-name" class="block text-sm font-medium text-white">Group Name</label>
                  <div class="mt-2">
                    <input type="text" id="group-name" autocomplete="given-name" class="input input-bordered w-full">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Action Buttons -->
          <div class="mt-6 flex justify-end gap-x-6">
            <button type="button" class="btn btn-ghost">Cancel</button>
            <button type="submit" class="btn btn-error text-neutral-200">Delete group</button>
            <button type="submit" class="btn btn-primary text-neutral-200">Save group</button>
          </div>
        </form>
      }
      @else if (currentTab === tabs[1]) {
        <!-- Admins Section -->
        <div class="space-y-12">
          <div class="border-b border-white/10 pt-8 pb-12">
            <h1 class="card-title text-2xl pl-3 mb-3">Admins</h1>
            <div class="overflow-x-auto">
              <table class="table table-fixed w-full">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Global Roles</th>
                  <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                  @for (user of groupService.currentGroup.value?.admins; track user._id) {
                    <tr>
                      <td>
                        <div class="flex items-center gap-3">
                          <div class="avatar mask mask-squircle h-12 w-12">
                            <img src="https://img.daisyui.com/images/profile/demo/2@94.webp" alt="Avatar" />
                          </div>
                          <div class="font-bold">{{ user.username }}</div>
                        </div>
                      </td>
                      <td>{{ user.email }}</td>
                      <td class="capitalize">{{ user.roles.join(', ') }}</td>
                      <td>
                        <div class="flex gap-x-2 justify-end">
                          <button class="btn btn-sm btn-neutral tooltip text-neutral-200" data-tip="Demote admin" (click)="setAdmin(user, false)">
                            <lucide-icon name="shield-minus" size="22"></lucide-icon>
                          </button>
                          <button class="btn btn-sm btn-neutral tooltip text-neutral-200" data-tip="Kick user" (click)="kick(user, false)">
                            <lucide-icon name="user-round-minus" size="22"></lucide-icon>
                          </button>
                          <button class="btn btn-sm btn-error tooltip text-neutral-200" data-tip="Ban user" (click)="kick(user, true)">
                            <lucide-icon name="ban" size="22"></lucide-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Members Section -->
        <div class="space-y-12">
          <div class="border-b border-white/10 pt-8 pb-12">
            <h1 class="card-title text-2xl pl-3 mb-3">Members</h1>
            <div class="overflow-x-auto">
              <table class="table table-fixed w-full">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Global Roles</th>
                  <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                  @for (user of groupService.currentGroup.value?.members; track user._id) {
                    <tr>
                      <td>
                        <div class="flex items-center gap-3">
                          <div class="avatar mask mask-squircle h-12 w-12">
                            <img src="https://img.daisyui.com/images/profile/demo/2@94.webp" alt="Avatar" />
                          </div>
                          <div class="font-bold">{{ user.username }}</div>
                        </div>
                      </td>
                      <td>{{ user.email }}</td>
                      <td class="capitalize">{{ user.roles.join(', ') }}</td>
                      <td>
                        <div class="flex gap-x-2 justify-end">
                          <button class="btn btn-sm btn-neutral tooltip text-neutral-200" data-tip="Make admin" (click)="setAdmin(user, true)">
                            <lucide-icon name="shield-plus" size="22"></lucide-icon>
                          </button>
                          <button class="btn btn-sm btn-neutral tooltip text-neutral-200" data-tip="Kick user" (click)="kick(user, false)">
                            <lucide-icon name="user-round-minus" size="22"></lucide-icon>
                          </button>
                          <button class="btn btn-sm btn-error tooltip text-neutral-200" data-tip="Ban user" (click)="kick(user, true)">
                            <lucide-icon name="ban" size="22"></lucide-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Pending Members Section -->
        <div class="space-y-12">
          <div class="border-b border-white/10 pt-8 pb-12">
            <h1 class="card-title text-2xl pl-3 mb-3">Group Join Requests</h1>
            <div class="overflow-x-auto">
              <table class="table table-fixed w-full">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Global Roles</th>
                  <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                  @for (user of groupService.currentGroup.value?.pendingMembers; track user._id) {
                    <tr>
                      <td>
                        <div class="flex items-center gap-3">
                          <div class="avatar mask mask-squircle h-12 w-12">
                            <img src="https://img.daisyui.com/images/profile/demo/2@94.webp" alt="Avatar" />
                          </div>
                          <div class="font-bold">{{ user.username }}</div>
                        </div>
                      </td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.roles.join(', ') }}</td>
                      <td>
                        <div class="flex justify-end gap-x-2">
                          <button class="btn btn-sm btn-neutral tooltip text-neutral-200" data-tip="Decline" (click)="accept(user, false)">
                            <lucide-icon name="user-round-x" size="22"></lucide-icon>
                          </button>
                          <button class="btn btn-sm btn-success tooltip text-neutral-200" data-tip="Accept" (click)="accept(user, true)">
                            <lucide-icon name="user-round-check" size="22"></lucide-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Banned Members Section -->
        <div class="space-y-12">
          <div class="border-b border-white/10 pt-8 pb-12">
            <h1 class="card-title text-2xl pl-3 mb-3">Banned</h1>
            <div class="overflow-x-auto">
              <table class="table table-fixed w-full">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Global Roles</th>
                  <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                  @for (user of groupService.currentGroup.value?.banned; track user._id) {
                    <tr>
                      <td>
                        <div class="flex items-center gap-3">
                          <div class="avatar mask mask-squircle h-12 w-12">
                            <img src="https://img.daisyui.com/images/profile/demo/2@94.webp" alt="Avatar" />
                          </div>
                          <div class="font-bold">{{ user.username }}</div>
                        </div>
                      </td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.roles.join(', ') }}</td>
                      <td>
                        <div class="flex justify-end gap-x-2">
                          <button class="btn btn-sm btn-neutral tooltip" data-tip="Unban" (click)="kick(user, false)">
                            <lucide-icon name="lock-open" size="22"></lucide-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="flex justify-end mt-10">
          <button class="btn btn-neutral max-w-md" (click)="addUserModal.open()">Add Member</button>
        </div>
      }
    </div>
  </section>
</div>

<app-add-user-modal #addUserModal [users]="users"></app-add-user-modal>
