<div class="flex h-full">
  <nav class="bg-base-300 w-72 h-full z-10">
    <div class="flex-col bg-base-100 w-full h-full overflow-visible rounded-l-3xl">
      <div class="px-4">
        <!-- Channel List -->
        <span class="flex justify-between items-end">
          <h3 class="mt-4 card-title">Group Settings</h3>
        </span>
        <div class="mt-4 flex flex-col gap-y-1">
          @for (tab of tabs; track tab) {
            <button class="btn flex justify-between w-full"
                    (click)="setTab(tab)"
                    [ngClass]="{
                    'btn-neutral': tab === currentTab,
                    'btn-ghost': tab !== currentTab,
                }">
              {{ tab }}
            </button>
          }
        </div>
      </div>
    </div>
  </nav>
  <section class="flex flex-1 h-full bg-base-200 p-4">
    <div class="flex-1 flex flex-col mx-auto max-w-5xl">
      <span class="flex justify-end">
      <button class="btn btn-ghost rounded-full tooltip tooltip-left" (click)="closed.emit()" data-tip="Close Settings">
        <lucide-angular name="circle-x"></lucide-angular>
      </button>
    </span>
      <!-- Group Members -->
      @if (currentTab === tabs[1]) {
        <!-- Admins -->
        <h1 class="card-title text-2xl pl-3 mb-3">Admins</h1>
        <div class="overflow-x-auto overflow-auto">
          <table class="table table-fixed">
            <!-- head -->
            <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Global Roles</th>
              <th>Manage</th>
            </tr>
            </thead>
            <tbody>
              @for (user of groupService.currentGroup.value?.admins; track user._id) {
                <tr>
                  <td>
                    <div class="flex items-center gap-3">
                      <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                          <img
                            src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                            alt="Avatar Tailwind CSS Component" />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">{{ user.username }}</div>
                      </div>
                    </div>
                  </td>
                  <td>{{ user.email }}</td>
                  <td class="capitalize">{{ user.roles.join(', ') }}</td>
                  <th>
                  <span class="flex gap-x-2">
                      <div class="btn btn-sm btn-neutral text-neutral-100 tooltip py-1 px-2" data-tip="Demote admin">
                        <lucide-icon name="shield-minus" size="22"></lucide-icon>
                      </div>
                      <div class="btn btn-sm btn-neutral text-neutral-100 tooltip py-1 px-2" data-tip="Kick user" (click)="kick(user, false)">
                        <lucide-icon name="user-round-minus" size="22"></lucide-icon>
                      </div>
                      <div class="btn btn-sm btn-error text-neutral-100 tooltip py-1 px-2" data-tip="Ban user" (click)="kick(user, true)">
                        <lucide-icon name="ban" size="22"></lucide-icon>
                      </div>
                    </span>
                  </th>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Members -->
        <h1 class="mt-10 card-title text-2xl pl-3 mb-3">Members</h1>
        <div class="overflow-x-auto">
          <table class="table table-fixed">
            <!-- head -->
            <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Global Roles</th>
              <th>Manage</th>
            </tr>
            </thead>
            <tbody>
              @for (user of groupService.currentGroup.value?.members; track user._id) {
                <tr>
                  <td>
                    <div class="flex items-center gap-3">
                      <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                          <img
                            src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                            alt="Avatar Tailwind CSS Component" />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">{{ user.username }}</div>
                      </div>
                    </div>
                  </td>
                  <td>{{ user.email }}</td>
                  <td class="capitalize">{{ user.roles.join(', ') }}</td>
                  <th>
                  <span class="flex gap-x-2">
                      <div class="btn btn-sm btn-neutral text-neutral-100 tooltip py-1 px-2" data-tip="Make admin">
                        <lucide-icon name="shield-plus" size="22"></lucide-icon>
                      </div>
                      <div class="btn btn-sm btn-neutral text-neutral-100 tooltip py-1 px-2" data-tip="Kick user" (click)="kick(user, false)">
                        <lucide-icon name="user-round-minus" size="22"></lucide-icon>
                      </div>
                      <div class="btn btn-sm btn-error text-neutral-100 tooltip py-1 px-2" data-tip="Ban user" (click)="kick(user, true)">
                        <lucide-icon name="ban" size="22"></lucide-icon>
                      </div>
                    </span>
                  </th>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Pending Members -->
        @if (groupService.currentGroup.value && groupService.currentGroup.value!.pendingMembers.length) {
          <h1 class="mt-10 card-title text-2xl pl-3 mb-3">Group Join Requests</h1>
          <div class="overflow-x-auto">
            <table class="table table-fixed">
              <!-- head -->
              <thead>
              <tr>
                <th>User</th>
                <th>Email</th>
                <th>Global Roles</th>
                <th>Manage</th>
              </tr>
              </thead>
              <tbody>
                @for (user of groupService.currentGroup.value?.pendingMembers; track user._id) {
                  <tr>
                    <td>
                      <div class="flex items-center gap-3">
                        <div class="avatar">
                          <div class="mask mask-squircle h-12 w-12">
                            <img
                              src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                              alt="Avatar Tailwind CSS Component" />
                          </div>
                        </div>
                        <div>
                          <div class="font-bold">{{ user.username }}</div>
                        </div>
                      </div>
                    </td>
                    <td>{{ user.email }}</td>
                    <td class="capitalize">{{ user.roles.join(', ') }}</td>
                    <th>
                    <span class="flex gap-x-2">
                      <div class="btn btn-sm btn-neutral text-neutral-100 tooltip py-1 px-2" data-tip="Decline" (click)="accept(user, false)">
                        <lucide-icon name="user-round-x" size="22"></lucide-icon>
                      </div>
                      <div class="btn btn-sm btn-success text-neutral-100 tooltip py-1 px-2" data-tip="Accept" (click)="accept(user, true)">
                        <lucide-icon name="user-round-check" size="22"></lucide-icon>
                      </div>
                    </span>
                    </th>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }

        <!-- Banned Members -->
        @if (groupService.currentGroup.value && groupService.currentGroup.value!.banned.length) {
          <h1 class="mt-10 card-title text-2xl pl-3 mb-3">Banned</h1>
          <div class="overflow-x-auto">
            <table class="table table-fixed">
              <!-- head -->
              <thead>
              <tr>
                <th>User</th>
                <th>Email</th>
                <th>Global Roles</th>
                <th>Manage</th>
              </tr>
              </thead>
              <tbody>
                @for (user of groupService.currentGroup.value?.banned; track user._id) {
                  <tr>
                    <td>
                      <div class="flex items-center gap-3">
                        <div class="avatar">
                          <div class="mask mask-squircle h-12 w-12">
                            <img
                              src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                              alt="Avatar Tailwind CSS Component" />
                          </div>
                        </div>
                        <div>
                          <div class="font-bold">{{ user.username }}</div>
                        </div>
                      </div>
                    </td>
                    <td>{{ user.email }}</td>
                    <td class="capitalize">{{ user.roles?.join(', ') }}</td>
                    <th>
                      <div class="btn btn-sm btn-neutral text-neutral-100 tooltip py-1 px-2" data-tip="Unban user" (click)="kick(user, false)">
                        <lucide-icon name="lock-open" size="22"></lucide-icon>
                      </div>
                    </th>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
        <span class="mt-10 flex justify-start">
          <button class="btn btn-neutral max-w-md" (click)="addUserModal.open()">Add Member</button>
        </span>
      }
    </div>
  </section>
</div>

<app-add-user-modal #addUserModal [users]="users"></app-add-user-modal>
