@if (showGroupSettings && (groupService.isGroupAdmin())) {
  <div class="z-50 fixed left-20 top-0 right-0 bottom-0 bg-base-100 rounded-l-3xl">
    <app-group-settings (closed)="showGroupSettings = false"></app-group-settings>
  </div>
}
@else {
  <main class="flex h-screen bg-base-300">
    @if (groupService.currentGroup.value && groupService.groups.length) {
      @if (groupService.hasAccess()) {
        <app-channel-nav></app-channel-nav>
        <!-- Main content -->
        <section class="flex-1 flex flex-col h-screen bg-base-300">
          <!-- Split pane -->
          <div class="flex flex-1 overflow-hidden">
            <!-- Chat view -->
            <div class="flex-1 lg:col-span-2 flex flex-col h-full bg-base-200 rounded-r-3xl">
              <!-- Chat header -->
              <span class="flex justify-between p-4 flex-none">
                <span class="flex gap-x-4">
                  <h1 class="card-title text-2xl capitalize">
                    {{ (groupService.group$ | async)?.name }}
                    @if ((groupService.channel$ | async)) {
                      <span class="text-neutral">/</span> {{ groupService.currentChannel.value?.name }}
                    }
                  </h1>
                </span>
                <span class="flex gap-x-4">
                  @if ((groupService.channel$ | async)) {
                    <button class="btn btn-neutral rounded-full tooltip tooltip-bottom" data-tip="Start Video Call" (click)="joinCall()">
                      <lucide-angular name="video"></lucide-angular>
                    </button>
                    <!--
                    <button class="btn btn-neutral rounded-full tooltip tooltip-bottom" data-tip="Start Voice Call">
                      <lucide-angular name="phone-call"></lucide-angular>
                    </button>-->
                  }
                  @if (groupService.isGroupAdmin()) {
                    <button class="btn btn-neutral rounded-full tooltip tooltip-bottom" data-tip="Settings" (click)="showGroupSettings = true">
                      <lucide-angular name="settings"></lucide-angular>
                    </button>
                  }
                </span>
              </span>
              <!-- Chat content (scrollable) -->
              <app-chat class="flex-1 overflow-y-auto"></app-chat>
            </div>
            <!-- Settings / Information -->
            <div class="hidden lg:block h-screen p-4 min-w-96 flex-none bg-base-300">
              <app-people></app-people>
            </div>
          </div>
        </section>
      }
      @else if (groupService.hasRequestedAccess()) {
        <div class="flex w-full h-full justify-center items-center bg-base-100 rounded-l-3xl">
          <div class="flex flex-col gap-y-4">
            <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="clock" size="30"></lucide-angular>Request pending.</h1>
            <div class="text-neutral-content text-lg">You have requested to join this group.</div>
          </div>
        </div>
      }
      @else {
        <div class="flex w-full h-full justify-center items-center bg-base-100 rounded-l-3xl">
          <div class="flex flex-col gap-y-4">
            <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="lock" size="30"></lucide-angular>Uh oh!</h1>
            <div class="text-neutral-content text-lg">You do not have access to this group.</div>
            <button class="btn btn-primary" (click)="join()">Request access</button>
          </div>
        </div>
      }
    }
    @else {
      <!-- No Groups View -->
      @if (auth.isGroupAdmin()) {
        <div class="flex w-full h-full justify-center items-center bg-base-100 rounded-l-3xl">
          <div class="flex flex-col gap-y-4">
            <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="users-round" size="30"></lucide-angular>Create a group</h1>
            <div class="text-neutral-content text-lg">Click below to start your first community.</div>
            <button class="btn btn-primary" (click)="newGroupModal.open()">Create Group</button>
          </div>
        </div>
      }
      @else {
        <div class="flex w-full h-full justify-center items-center bg-base-100 rounded-l-3xl">
          <div class="flex flex-col gap-y-4">
            <h1 class="card-title text-3xl text-neutral-300"><lucide-angular class="text-primary" name="users-round" size="30"></lucide-angular>No channels.</h1>
            <div class="text-neutral-content text-lg">An admin will need to create a group for you to join.</div>
          </div>
        </div>
      }
    }
  </main>
}
<app-new-group-modal #newGroupModal></app-new-group-modal>
