<main class="flex h-full">
  <app-channel-nav></app-channel-nav>

  <!-- main content -->
  <section class="flex-1 flex flex-col h-full bg-base-300">
    <!-- split pane -->
    <div class="flex flex-1">
      <!-- chat view -->
      <div class="flex-1 lg:col-span-2 flex flex-col h-full bg-base-200 rounded-r-3xl overflow-hidden">
        <!-- chat header -->
        <span class="flex justify-between p-4 flex-none">
          <span class="flex gap-x-4">
            <h1 class="card-title text-2xl">{{ (groupService.group$ | async)?.name }}</h1>
            <span class="flex px-2 py-1 gap-x-1 rounded-2xl bg-neutral items-center text-secondary">
              <lucide-icon name="message-square" size="20"></lucide-icon>
              <p class="text-neutral-300">Channel Name</p>
            </span>
          </span>
          <span class="flex gap-x-4">
            <button class="btn btn-neutral rounded-full">
              <lucide-angular name="video"></lucide-angular>
            </button>
            <button class="btn btn-neutral rounded-full">
              <lucide-angular name="phone-call"></lucide-angular>
            </button>
            <!-- @if (isSuperAdmin || (isGroupAdmin && isGroupOwner(groupService.group$ | async)) {} -->
            <button class="btn btn-neutral rounded-full">
              <lucide-angular name="settings"></lucide-angular>
            </button>
          </span>
        </span>
        <app-chat class="flex-1 overflow-auto"></app-chat>
      </div>
      <!-- settings / information -->
      <div class="hidden lg:block p-4 min-w-96 flex-none bg-base-300">
        <app-group-members></app-group-members>
      </div>
    </div>
  </section>
</main>
